body {
    font-family: Arial, sans-serif;
    background-color: #181C14;
    color: #ECDFCC;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    height: 100vh;
    margin: 0.2rem 1rem 0 0;
}

.crash-panel {
    background-color: #2b2b2b;
    border: 1px solid #666;
    width: 250px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 100%;
  }

h1 {
    margin-bottom: 20px;
}

header, section, footer {
    margin-bottom: 10px;
  }
  
  header h1 {
    font-size: 1.5rem;
    text-align: center;
    margin: 0 0 10px 0;
  }
  
  h2 {
    font-size: 1rem;
    margin: 5px 0;
  }
  
  .foxdot-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  .info-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .info-row label {
    font-size: 1rem;
  }

  .info-row input,
  .info-row select {
    width: 50px;
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    padding: 2px;
    text-align: center;
    font-size: 1rem;
  }
  
  .crashometre .display, .cpu-info .display {
    font-size: 16px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border: 1px solid #555;
  }
  
  .beat-steps div {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
    border: 1px solid #555;
    margin-bottom: 2px;
  }
  
  textarea {
    width: 100%;
    max-width: 100%;
    height: auto;
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
    padding: 5px;
    max-height: 33%;
  }
  
  button {
    width: 100%;
    padding: 5px;
    background-color: #444;
    color: #fff;
    border: 1px solid #555;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }

/* .info {
    background-color: #3C3D37;
    border: 1px solid #697565;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 300px;
    text-align: center;
}

.label {
    font-weight: bold;
    color: #ECDFCC;
}

#scale, #root, #cpu, #bpm {
    color: #ECDFCC;
    font-size: 1.2em;
} */