
*.wav
FoxDot/FoxDot/rec/
FoxDot/stems/
samples/
venv/
logs/
car_logs.log
crash_config_live.py
crash_config_local.py
crash_config.py
*.directory
dist
dist-ssr
.DS_Store
# Editor directories and files
FoxDot/env
FoxDot/FoxDot/lib/Crashserver/dwarf.py
FoxDot/FoxDot/lib/Workspace/tmp/tempfile.txt
FoxDot/FoxDot/osc/sceffects/panR.scd
FoxDot/FoxDot/osc/scsyndef/experimental/vibass.scd
grid/atoms_extracted.json
grid/scenes_extracted.json
grid/tracks_extracted.json
.idea
lerna-debug.log*
*.local
*.log
logs
# Logs
*.njsproj
node_modules
npm-debug.log*
*.ntvs*
OF/crashOS_2022/crashOS_2022.qbs.user.5a5df51.4.8-pre1
pnpm-debug.log*
*.pyc
*.sln
*.suo
*.sw?
grid/cells_extracted.json
.vscode/*
!.vscode/extensions.json
.vscode/settings.json
webTroop/crash_config.json
webTroop/crash_config.json.live
webTroop/crash_config.json.local
webTroop/dbDir
webTroop/.vite
yarn-debug.log*
yarn-error.log*
