*.pyc
*.directory
crash_config.py
crash_config_live.py
crash_config_local.py
FoxDot/FoxDot/lib/Workspace/tmp/tempfile.txt
FoxDot/FoxDot/lib/Crashserver/dwarf.py
FoxDot/FoxDot/osc/sceffects/panR.scd
FoxDot/FoxDot/osc/scsyndef/experimental/vibass.scd
OF/crashOS_2022/crashOS_2022.qbs.user.5a5df51.4.8-pre1
FoxDot/env
car_logs.log
.vscode/settings.json
webTroop/crash_config.json
webTroop/crash_config.json.live
webTroop/crash_config.json.local
webTroop/dbDir

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?