*.pyc
*.directory
crash_config.py
crash_config_live.py
crash_config_local.py
FoxDot/FoxDot/lib/Workspace/tmp/tempfile.txt
FoxDot/FoxDot/lib/Crashserver/dwarf.py
FoxDot/FoxDot/osc/sceffects/panR.scd
FoxDot/FoxDot/osc/scsyndef/experimental/vibass.scd
OF/crashOS_2022/crashOS_2022.qbs.user.5a5df51.4.8-pre1
