@import 'interfaceThemes.css';

.crash-panel { 
  /* height: 100%; */
  background-color: var(--bg-col-1);
  border: 1px solid var(--border-col-1);
  color: var(--text-col-1);
  width: 260px;
  min-width: 100px;
  padding: 0.2rem;
  resize:none;
  user-select: none;
  overflow: auto;
  max-width: 100%;
  line-height: 1;
  z-index: 1000;
  position: relative;
  padding-right: 8px;
  direction: rtl;
}

.crash-panel::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  cursor: col-resize;
  background: var(--border-col-2);
  direction: ltr;
}

.crash-panel.open {
  left: 0px;
}

.crash-panel.close {
  left: -500px;
}

   

.server-active {
  color: #b73030;
}

header, section, footer {
    margin-bottom: 10px;
    direction: ltr;
  }

section {
  margin-bottom: 1rem;
}

header {
  container-type: inline-size;
}

header h1 {
  font-size: 1.5rem;
  font-size: clamp(0.75rem, 15cqw, 6rem);
  text-align: center;
  margin: 0 0 10px 0;
  /* margin-bottom: 20px; */
}

h2 {
  font-size: 1rem;
  margin: 5px 0;
}

#crashPanelTitle {
  cursor: pointer;
}

#crashPanelTitle.loading {
  background: linear-gradient(to right, var(--col-green) 0%, var(--col-red) 100%);
  background-size: 200% 100%;
  animation: loadingAnimation 1.5s infinite;
}

@keyframes loadingAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -200% 0%;
  }
}

fieldset {
  padding: 0.4rem;
  margin: 0;
}

.foxdot-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  /* margin-bottom: 5px; */
  gap: 0.2rem
}

.info-row {
  background-color: var(--bg-col-2);
  border: 1px solid var(--border-col-2);
  transition: border-color 0.5s ease; 
  border-radius: 0.1rem;
  flex: 1;
}

.info-row legend {
  font-size: 1rem;
  padding: 0 10px;
}

.info-text {
  color: var(--text-col-2);
  text-align: center;
  font-size: 1rem;
}

.simple-text {
  color: var(--text-col-2);
  font-size: 1rem;
  overflow: auto;
}

#help.simple-text {
  overflow-wrap: break-word; /* Permet le retour à la ligne pour les mots longs */
  white-space: pre-wrap; /* Conserve les espaces et les retours à la ligne */
  word-wrap: break-word; /* Support pour les anciens navigateurs */
}

.h10 {
  max-height: 10vh;
}

.h20 {
  max-height: 20vh;
}

.h40 {
  max-height: 40vh;
}

.beat-steps {
  background-color: var(--bg-col-2);
  color: var(--text-col-2);
  padding: 2px;
  text-align: center;
  border: 1px solid var(--border-col-2);
  margin-bottom: 2px;
  background: linear-gradient(to right, var(--beat-col-2) 0%, var(--beat-col-1) 0%);
}

#chrono {
  cursor: pointer;
}

textarea {
  width: 100%;
  max-width: calc(100% - 10px);
  height: auto;
  background-color: var(--bg-col-2);
  color: var(--text-col-2);
  border: 1px solid var(--border-col-2);
  padding: 5px;
  max-height: 33%;
}

.player-line {
  display: flex;
  justify-content: space-between;
  /* gap: 0.5rem; */
  padding: 2px 0;
  cursor: pointer;
}
.player-line:hover {
  background-color: var(--bg-col-1);
}

.player-id {
  color: var(--text-col-2);
}
.player-synth {
  color: var(--text-col-1);
}
.player-duration {
  color: #4caf50;
}

.player-solo {
  opacity: 0.2;
}

.sceneInfo {
  display: flex;
  justify-content: space-between;
}

#masterFx {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.master-fx-item {
  border: 1px solid var(--border-col-2);
  border-radius: 0.2rem;
  padding: 0.2rem;
}

.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 14px;
}
.todo-checkbox {
  margin-right: 10px;
  cursor: pointer;
}
.todo-checkbox:checked + label {
  text-decoration: line-through;
  opacity: 0.7;
}
#todo-container {
  max-height: 150px;
  overflow-y: auto;
  padding: 5px;
}


/* pianoroll */
#root {
  cursor: pointer;
}


#piano-roll {
  display: flex;
  position: fixed;
  top: 0;
  left: 60%;
  /* width: 60%; */
  height: 11em;
  z-index: 1000;
  /* padding: 10px; */
  box-sizing: border-box;
}

.piano-key {
  height:11em;
  font-weight: bold;
  width: auto; 
  margin: 0 auto;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
  box-sizing: border-box;
  border:1px solid #160801;
  border-radius: 0 0 1em 1em;
  box-shadow:0 0 50px rgba(0,0,0,0.5) inset,0 1px rgba(212,152,125,0.2) inset,0 5px 15px rgba(0,0,0,0.5);
  position:relative;
  display: flex;
  align-items: flex-end; /* Aligner le contenu en bas */
  justify-content: center; /* Centrer le contenu horizontalement */
}

.piano-key li {
  margin:0;
  padding:0;
  list-style:none;
  position:relative;
  /* float:left; */
  width: 100%;
  text-align: center; /* Centrer le texte */
  cursor: pointer;
  user-select: none;
}

.piano-key .white {
  color: var(--bg-col-2);
  padding-bottom: 0.5rem;
  height:100%;
  width:4em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Aligner le texte en bas */
  z-index:1;
  border-left:1px solid #bbb;
  border-bottom:1px solid #bbb;
  border-radius:0 0 5px 5px;
  box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset,0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#eee 0%,#fff 100%)
}
.piano-key .white:active {
  border-top:1px solid #777;
  border-left:1px solid #999;
  border-bottom:1px solid #999;
  box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom,#fff 0%,#e9e9e9 100%)
}

.piano-key .black {
  color: var(--text-col-2);
  height:7em;
  width:2em;
  margin:0 0 0 -1em;
  padding-bottom: 0.5rem;
  z-index:2;
  border:1px solid #000;
  border-radius:0 0 3px 3px;
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -5px 2px 3px rgba(0,0,0,0.6) inset,0 2px 4px rgba(0,0,0,0.5);
  background:linear-gradient(45deg,#222 0%,#555 100%);
  transform: translateY(-55%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Aligner le texte en bas */
}

.piano-key .black:active {
  box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
  background:linear-gradient(to right,#444 0%,#222 100%)
}

.piano-key li.c,.piano-key li.d,.piano-key li.e,.piano-key li.g,.piano-key li.a, .piano-key li.b {
  margin:0 0 0 -1em
}

.piano-key li:first-child {
  border-radius:5px 0 5px 5px
}

.piano-key li:last-child {
  border-radius:0 5px 5px 5px
}

#piano-roll.hidden {
  display: none;
}